/* ==================================
    共通のスタイル設定
   ================================== */
*{
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

/* ==================================
    ヘッダー
   ================================== */
header {
    background-color: #2c3e50;
    text-align: center;
    position: fixed;  /* 画面に固定 */
    top: 0;  /* 上部に固定 */
    left: 0;  /* 左端に固定 */
    width: 100%;  /* 幅を100%に設定 */
    padding: 20px;
    z-index: 1000;  /* 他の要素の上に表示されるように設定 */
}

#logo a{
    color: #fff;
}

/* ==================================
    メインコンテンツ
   ================================== */
main{
    padding: 30px 20px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;  /* headerが固定されているので、mainの内容がheaderと重ならないように上部に余白を追加 */
}

h2 {
    color: #2a7ae2;
    border-bottom: 2px solid #ddd;
    margin-top: 40px;
    padding-bottom: 5px;
}

/* ==================================
    セクション - 自己紹介
   ================================== */
.profile {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    margin-bottom: 10px;
}

.profile p {
    text-align: left;
}

/* ==================================
    セクション - キャリア
   ================================== */

/* ==================================
    スキル・資格カテゴリ
   ================================== */

/* ==================================
    セクション - 制作実績
   ================================== */

/* ==================================
    セクション - SNS & お問い合わせ
   ================================== */

/* ==================================
    フッター
   ================================== */
footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}